# Database (Neon or Supabase)
DATABASE_URL="postgresql://postgres.hoywbbgvlgikkxrcdqul:W5nypJYcG3odVLVA@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require"

DIRECT_URL="postgresql://postgres.hoywbbgvlgikkxrcdqul:j6svLmT55WQTpgq6@db.hoywbbgvlgikkxrcdqul.supabase.co:5432/postgres"

# Auth.js
NEXTAUTH_SECRET="W5nypJYcG3odVLVA"
NEXTAUTH_URL="http://localhost:3000"

# Public base url for QR codes
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Uploads
UPLOADS_ENABLED="true"

SUPABASE_URL="https://hoywbbgvlgikkxrcdqul.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhveXdiYmd2bGdpa2t4cmNkcXVsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDE0MTI4NSwiZXhwIjoyMDg1NzE3Mjg1fQ.jWGcgYhGj2HD4pLyWpygM35SXj5V-_DQduGNGT4YVeg"