# Database (Neon or Supabase)
DATABASE_URL="postgresql://postgres.hoywbbgvlgikkxrcdqul:W5nypJYcG3odVLVA@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require"

DIRECT_URL="postgresql://postgres.hoywbbgvlgikkxrcdqul:j6svLmT55WQTpgq6@db.hoywbbgvlgikkxrcdqul.supabase.co:5432/postgres"

# Auth.js
NEXTAUTH_SECRET="W5nypJYcG3odVLVA"
NEXTAUTH_URL="http://localhost:3000"

# Public base url for QR codes
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Uploads
UPLOADS_ENABLED="true"
